# Byte-compiled / optimized / compiled Python files
__pycache__/
*.py[cod]
*.so

# Virtual environment
.venv/
venv/
env/
ENV/

# IDE / Editor files
.vscode/
.idea/
*.swp

# OS-specific files
.DS_Store
Thumbs.db

# Logs
*.log

.env

/video/*.webm
/content-output/episodes/*/frames